@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.scrollbar-hide,
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 18, 98.4%, 64.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 0 95%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 93.33%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --light-gray: 245 6% 61%;
    --tag: 246.54 5% 50%;
    --overlay: 0 0% 95%;
    --food-shadow: rgba(211, 209, 216, 0.25);
    --tag: 0 0 96%;
    --cart-item: 0 0% 100%;
    --rating-badge: 0 0% 100%;
    --scale-menu: rgba(234, 234, 234, 0.9);
  }
  .dark {
    --background: 240, 13%, 20%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 18, 98.4%, 64.1%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240, 11.63%, 25.29%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 13% 11%;
    --accent-foreground: 0 0% 98%;
    --destructive: 240, 12%, 25%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --light-gray: 245 7% 70%;
    --tag: 246.54 5.5% 60.95%;
    --overlay: 240 13% 20%;
    --food-shadow: rgba(75, 47, 47, 0.2);
    --tag: 240 9% 31%;
    --cart-item: 240 12% 25%;
    --rating-badge: 240 9% 31%;
    --scale-menu: rgba(57, 57, 72, 0.9);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.btn-shiny ::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #fff;
  animation: shinyBtn 3s ease-in-out infinite;
}

@keyframes shinyBtn {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #fe724c;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #fe724c, 0 0 5px #fe724c;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0, -4px);
  -ms-transform: rotate(3deg) translate(0, -4px);
  transform: rotate(3deg) translate(0, -4px);
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top-color: #964cfe;
  border-left-color: #964cfe;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
  z-index: 9999;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-pagination .swiper-pagination-bullet {
  @apply w-2 h-2 bg-[#FFC529] opacity-40 mx-1 rounded-full transition-opacity;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply w-7 opacity-100 bg-[#FFC529];
}
